---
import IndexPage from "src/layouts/IndexPage.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <IndexPage>
    <div>404</div>
    <div>Oops,This Page Could Not Be Found!</div>
  </IndexPage>
</MainLayout>
