---
// src/layouts/MainLayout.astro
---

<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-CPLT8JSR5Z"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-CPLT8JSR5Z");
    </script>
  </head><body>
    <slot />
  </body>
</html>
