---
// src/layouts/MainLayout.astro
---
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CPLT8JSR5Z"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-CPLT8JSR5Z');
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
